* {
  background-color: #2d312a;
  color: white ;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: white ;
  padding: 5px;
  
}
.link:hover {
  color: orange ;
} 
.media{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 400px;
  padding: 5px;
  margin: 5px 0;
  background-color:#282c34;
  border-radius: relative;
}

.media:hover{
  background-color: white;
  color: #000;
}

.poster-container {
  height: 20em;
  width: 100%;
}

.img-container {
  height: 10em;
  width: 10em;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
